@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'CHEESEBURGA';
    src: url('/fonts/CHEESEBURGA demo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Kumbh Sans";
    src: url('/fonts/KumbhSans-VariableFont_YOPQ,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Baron Kuffner";
    src: url('/fonts/Baron Kuffner.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Bebas Neue";
    src: url('/fonts/BebasNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --background: #ffffff;
    --foreground: #171717;
    font-size: 16px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

.ff-c {
    font-family: 'CHEESEBURGA', sans-serif;
}

.ff-k {
    font-family: "Kumbh Sans", sans-serif;
}

.ff-m {
    font-family: "Montserrat", sans-serif;
}

.ff-bk {
    font-family: "Baron Kuffner", sans-serif;
}

.ff-bn {
    font-family: "Bebas Neue", sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.reflect-container {
    position: relative;
    display: inline-block;
}

.reflect {
    position: absolute;
    top: 100%;
    left: 0;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    transform: scaleY(-1) translateY(28%);
    opacity: 0.5;
    pointer-events: none;
}

.reflect::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

::-webkit-scrollbar {
    display: none;
}

@media (max-width: 600px) {
    :root {
        font-size: 10px;
    }
}

@media (min-width: 601px) and (max-width: 1200px) {
    :root {
        font-size: 14px;
    }
}

@media (min-width: 1201px) {
    :root {
        font-size: 16px;
    }
}

.heading {
    background: linear-gradient(180deg, #FFF280 0%, #7EFF5E 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: 'CHEESEBURGA';
    font-size: 7rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    -webkit-text-stroke: 0.5rem black;
}

.sub-heading {
    color: #FFF;
    text-align: center;
    font-family: 'CHEESEBURGA';
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.highlight {
    background: linear-gradient(180deg, #FFF280 8.61%, #FFA800 36.76%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'CHEESEBURGA';
    font-size: 3rem;
    font-weight: 400;
    line-height: normal;
}